# Python stuff
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
fintech_env/

# VS Code
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints
*.ipynb

# Mac stuff
.DS_Store
.AppleDouble
.LSOverride
._*

# Environment variables
.env
.env.*

# Random stuff that might show up
*.log
*.csv
*.sqlite
.idea/